* {
  font-family: "Inter", sans-serif;
}
.menu a {
  font-size: 14px;
}
.menu a.active {
  color: #fff;
  background-color: #192936;
}

input {
  box-shadow: unset !important;
}

.data-table th,
.data-table td {
  padding: 0.5rem 0.5rem;
  width: 6.67%;
  text-align: right;
}

.data-table td.text-left {
  text-align: left;
}

.option-btn span {
  display: block;
  transform: rotate(-90deg);
  transform-origin: center center;
}

.toggleable-tr {
  display: none;
}

.toggleable-tr.show {
  display: table-row;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.date-range-filter * {
  background: white;
}
.date-range-filter .relative {
  border: 1px solid #f3f3f3;
}
.date-range-filter .relative:first-child {
  border-right: none;
  border-radius: 4px 0 0 4px;
}
.date-range-filter .relative:last-child {
  border-radius: 0 4px 4px 0;
}
.date-range-filter input {
  border: none !important;
  outline: unset !important;
  box-shadow: unset !important;
  background-color: white;
}
.drpdwn.text-sm * {
  background: white !important;
}
.drpdwn.w-full * {
  background: white;
}


/* fixes */
td.p-1{
  padding: 0.25rem !important;
}
tr{
  cursor: pointer;
}

tr:hover{
  background-color: #f3f3f3;
}

@media screen and (max-width: 767px) {
  .sidebar {
    position: fixed;
    top: 0;
    z-index: 10;
    left: 0;
    transition: 0.5s;
    transform: translateX(-100%);
  }
  #sidebar-bg {
    position: fixed;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9;
    top: 0;
    left: 0;
    display: none;
  }

  .sidebar.show {
    transform: translateX(0);
  }
  .sidebar.show + #sidebar-bg {
    display: block;
  }
}
